* {
    box-sizing: border-box;
    padding: 0;
    margin:0
}

header {
    padding:20px 0;
    text-align: center;
}

.container {
    width:50vw !important
}

.sub-container{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:40px
}



@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #383636;
    /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}